<div class="events_list">
	<%= render partial: "events/event", collection: @events_of_day %>
	<% if btns_massive(count_events_in_date(@date),(@number_of_events_day/@day_divider-2),@day_divider).size > 1%>
		<hr>
		<ul class="list-group list-group-horizontal-md">
			<% btns_massive(count_events_in_date(@date),(@number_of_events_day/@day_divider-2),@day_divider).each do |btn| %>
				<%= link_to btn+1, root_path(date: @date, quantity_day: btn*@day_divider , quantity_today: @number_of_events_today), class:"list-group-item list-group-item-action" %>
			<% end -%>
		</ul>
	<% end -%>
</div>
