<div class="d-flex justify-content-center pt-3">
  <div>
    <%= render partial: "event", collection: @event %>
  </div>
</div>
<% if btns_massive(@events_size,(@number_of_events/@divider-2),@divider).size > 1%>
	<div>
		<hr>
		<ul class="list-group list-group-horizontal-md">
			<% btns_massive(@events_size,(@number_of_events/@divider-2),@divider).each do |btn| %>
				<%= link_to btn+1, events_path(quantity: btn*@divider), class:"list-group-item list-group-item-action" %>
			<% end -%>
		</ul>
	</div>
<% end -%>