<h2 class="d-flex justify-content-center">
	<%= "Сегодня " + Date.today.strftime("%d\.%m") %>
</h2>
<ul class="list-group">
	<% if @events_of_today.any? %>
		<%= render partial: "event_today", collection: @events_of_today %>
	<% else %>
		<p class="d-flex justify-content-center"> На cегодня нет заметок </p>
	<% end %>
</ul>
<% if btns_massive(count_events_in_date(Date.today),(@number_of_events_today/@today_divider-2),@today_divider).size > 1%>
	<hr>
	<ul class="list-group list-group-horizontal-md">
		<% btns_massive(count_events_in_date(Date.today),(@number_of_events_today/@today_divider-2),@today_divider).each do |btn| %>
			<%= link_to btn+1, root_path(date: @date, quantity_day: @number_of_events_day, quantity_today: btn*@today_divider), class:"list-group-item list-group-item-action" %>
		<% end -%>
	</ul>
<% end %>
