<div class="d-flex flex-row mt-3">
	<div class="calendar-block shadow p-3">
		<%= render "calendar" %>
	</div>
	<div class="events-block shadow p-3">
		<%= render "events/events_of_today" %>
	</div>
</div>
<div class="mt-2 text-justify">
	<%= render "events/events_of_day" %>
</div>